extends  ../_skeleton

//- Includes
include ../elements/_ui-panel

block variables
  - var activeIndex = 5
  - var pageName = "FAQ"

block title
  title=pageName

block page
  // Page Header
  include ../sections/_header-default-with-top-panel-var-2
  main 
    +breadcrumbs({
      path: [['Pages', '#'], [pageName]],
      bgImageClass: 'breadcrumbs-01'
    })
  
    section.section.section-md.bg-gray-light.text-center
      .shell
        .range.range-xs-center
          .cell-sm-8
            // Bootstrap collapse
            #accordion1.panel-group.panel-group-custom.panel-group-corporate(role='tablist')
              +panel({
                first: true,
                panelClass: 'panel-corporate',
                parentId: 'accordion1',
                number: '1',
                header: 'Can I track my order?'
              })
                p Yes, you can! After placing your order you will receive an order confirmation via email. Each order starts production 24 hours after your order is placed. Within 72 hours of you placing your order, you will receive an expected delivery date. When the order ships, you will receive another email with the tracking number and a link to trace the order online with the carrier.
      
              +panel({
                panelClass: 'panel-corporate',
                parentId: 'accordion1',
                number: '2',
                header: 'How can I change something in my order?'
              })
                p If you need to change something in your order, please contact us immediately. We usually process orders within 2-4 hours, and once we have processed your order, we will be unable to make any changes.
      
              +panel({
                panelClass: 'panel-corporate',
                parentId: 'accordion1',
                number: '3',
                header: 'How can I pay for my order?'
              })
                p We accept Visa, MasterCard, and American Express credit and debit cards for your convenience.
      
              +panel({
                panelClass: 'panel-corporate',
                parentId: 'accordion1',
                number: '4',
                header: 'Can I return an item?'
              })
                p Please visit our Returns & Exchanges page for more information.
      
              +panel({
                panelClass: 'panel-corporate',
                parentId: 'accordion1',
                number: '5',
                header: 'How long will my order take to be delivered?'
              })
                p Delivery times will depend on your location. Once payment is confirmed your order will be packaged. Delivery can be expected within 10 business days.
          
    // Page Footer
    include ../sections/_footer-default
