section.section.section-lg.bg-white
	.container
		.page-header
			h2 Glyphicons
			p Includes over 250 sharp and clean icons

		// Glyphicons
		.section.section-md.bg-white(id="glyphicons") 
			.range.range-0.list-icon
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-asterisk
					| glyphicon-asterisk
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-plus
					| glyphicon-plus
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-euro
					| glyphicon-euro
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-eur
					| glyphicon-eur
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-minus
					| glyphicon-minus
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-cloud
					| glyphicon-cloud
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-envelope
					| glyphicon-envelope
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-pencil
					| glyphicon-pencil
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-glass
					| glyphicon-glass
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-music
					| glyphicon-music
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-search
					| glyphicon-search
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-heart
					| glyphicon-heart
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-star
					| glyphicon-star
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-star-empty
					| glyphicon-star-empty
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-user
					| glyphicon-user
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-film
					| glyphicon-film
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-th-large
					| glyphicon-th-large
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-th
					| glyphicon-th
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-th-list
					| glyphicon-th-list
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-ok
					| glyphicon-ok
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-remove
					| glyphicon-remove
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-zoom-in
					| glyphicon-zoom-in
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-zoom-out
					| glyphicon-zoom-out
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-off
					| glyphicon-off
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-signal
					| glyphicon-signal
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-cog
					| glyphicon-cog
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-trash
					| glyphicon-trash
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-home
					| glyphicon-home
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-file
					| glyphicon-file
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-time
					| glyphicon-time
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-road
					| glyphicon-road
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-download-alt
					| glyphicon-download-alt
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-download
					| glyphicon-download
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-upload
					| glyphicon-upload
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-inbox
					| glyphicon-inbox
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-play-circle
					| glyphicon-play-circle
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-repeat
					| glyphicon-repeat
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-refresh
					| glyphicon-refresh
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-list-alt
					| glyphicon-list-alt
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-lock
					| glyphicon-lock
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-flag
					| glyphicon-flag
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-headphones
					| glyphicon-headphones
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-volume-off
					| glyphicon-volume-off
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-volume-down
					| glyphicon-volume-down
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-volume-up
					| glyphicon-volume-up
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-qrcode
					| glyphicon-qrcode
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-barcode
					| glyphicon-barcode
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-tag
					| glyphicon-tag
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-tags
					| glyphicon-tags
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-book
					| glyphicon-book
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-bookmark
					| glyphicon-bookmark
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-print
					| glyphicon-print
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-camera
					| glyphicon-camera
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-font
					| glyphicon-font
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-bold
					| glyphicon-bold
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-italic
					| glyphicon-italic
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-text-height
					| glyphicon-text-height
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-text-width
					| glyphicon-text-width
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-align-left
					| glyphicon-align-left
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-align-center
					| glyphicon-align-center
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-align-right
					| glyphicon-align-right
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-align-justify
					| glyphicon-align-justify
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-list
					| glyphicon-list
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-indent-left
					| glyphicon-indent-left
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-indent-right
					| glyphicon-indent-right
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-facetime-video
					| glyphicon-facetime-video
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-picture
					| glyphicon-picture
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-map-marker
					| glyphicon-map-marker
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-adjust
					| glyphicon-adjust
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-tint
					| glyphicon-tint
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-edit
					| glyphicon-edit
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-share
					| glyphicon-share
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-check
					| glyphicon-check
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-move
					| glyphicon-move
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-step-backward
					| glyphicon-step-backward
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-fast-backward
					| glyphicon-fast-backward
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-backward
					| glyphicon-backward
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-play
					| glyphicon-play
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-pause
					| glyphicon-pause
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-stop
					| glyphicon-stop
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-forward
					| glyphicon-forward
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-fast-forward
					| glyphicon-fast-forward
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-step-forward
					| glyphicon-step-forward
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-eject
					| glyphicon-eject
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-chevron-left
					| glyphicon-chevron-left
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-chevron-right
					| glyphicon-chevron-right
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-plus-sign
					| glyphicon-plus-sign
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-minus-sign
					| glyphicon-minus-sign
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-remove-sign
					| glyphicon-remove-sign
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-ok-sign
					| glyphicon-ok-sign
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-question-sign
					| glyphicon-question-sign
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-info-sign
					| glyphicon-info-sign
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-screenshot
					| glyphicon-screenshot
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-remove-circle
					| glyphicon-remove-circle
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-ok-circle
					| glyphicon-ok-circle
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-ban-circle
					| glyphicon-ban-circle
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-arrow-left
					| glyphicon-arrow-left
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-arrow-right
					| glyphicon-arrow-right
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-arrow-up
					| glyphicon-arrow-up
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-arrow-down
					| glyphicon-arrow-down
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-share-alt
					| glyphicon-share-alt
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-resize-full
					| glyphicon-resize-full
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-resize-small
					| glyphicon-resize-small
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-exclamation-sign
					| glyphicon-exclamation-sign
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-gift
					| glyphicon-gift
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-leaf
					| glyphicon-leaf
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-fire
					| glyphicon-fire
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-eye-open
					| glyphicon-eye-open
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-eye-close
					| glyphicon-eye-close
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-warning-sign
					| glyphicon-warning-sign
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-plane
					| glyphicon-plane
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-calendar
					| glyphicon-calendar
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-random
					| glyphicon-random
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-comment
					| glyphicon-comment
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-magnet
					| glyphicon-magnet
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-chevron-up
					| glyphicon-chevron-up
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-chevron-down
					| glyphicon-chevron-down
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-retweet
					| glyphicon-retweet
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-shopping-cart
					| glyphicon-shopping-cart
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-folder-close
					| glyphicon-folder-close
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-folder-open
					| glyphicon-folder-open
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-resize-vertical
					| glyphicon-resize-vertical
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-resize-horizontal
					| glyphicon-resize-horizontal
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-hdd
					| glyphicon-hdd
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-bullhorn
					| glyphicon-bullhorn
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-bell
					| glyphicon-bell
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-certificate
					| glyphicon-certificate
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-thumbs-up
					| glyphicon-thumbs-up
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-thumbs-down
					| glyphicon-thumbs-down
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-hand-right
					| glyphicon-hand-right
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-hand-left
					| glyphicon-hand-left
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-hand-up
					| glyphicon-hand-up
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-hand-down
					| glyphicon-hand-down
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-circle-arrow-right
					| glyphicon-circle-arrow-right
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-circle-arrow-left
					| glyphicon-circle-arrow-left
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-circle-arrow-up
					| glyphicon-circle-arrow-up
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-circle-arrow-down
					| glyphicon-circle-arrow-down
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-globe
					| glyphicon-globe
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-wrench
					| glyphicon-wrench
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-tasks
					| glyphicon-tasks
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-filter
					| glyphicon-filter
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-briefcase
					| glyphicon-briefcase
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-fullscreen
					| glyphicon-fullscreen
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-dashboard
					| glyphicon-dashboard
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-paperclip
					| glyphicon-paperclip
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-heart-empty
					| glyphicon-heart-empty
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-link
					| glyphicon-link
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-phone
					| glyphicon-phone
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-pushpin
					| glyphicon-pushpin
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-usd
					| glyphicon-usd
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-gbp
					| glyphicon-gbp
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-sort
					| glyphicon-sort
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-sort-by-alphabet
					| glyphicon-sort-by-alphabet
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-sort-by-alphabet-alt
					| glyphicon-sort-by-alphabet-alt
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-sort-by-order
					| glyphicon-sort-by-order
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-sort-by-order-alt
					| glyphicon-sort-by-order-alt
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-sort-by-attributes
					| glyphicon-sort-by-attributes
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-sort-by-attributes-alt
					| glyphicon-sort-by-attributes-alt
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-unchecked
					| glyphicon-unchecked
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-expand
					| glyphicon-expand
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-collapse-down
					| glyphicon-collapse-down
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-collapse-up
					| glyphicon-collapse-up
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-log-in
					| glyphicon-log-in
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-flash
					| glyphicon-flash
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-log-out
					| glyphicon-log-out
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-new-window
					| glyphicon-new-window
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-record
					| glyphicon-record
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-save
					| glyphicon-save
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-open
					| glyphicon-open
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-saved
					| glyphicon-saved
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-import
					| glyphicon-import
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-export
					| glyphicon-export
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-send
					| glyphicon-send
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-floppy-disk
					| glyphicon-floppy-disk
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-floppy-saved
					| glyphicon-floppy-saved
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-floppy-remove
					| glyphicon-floppy-remove
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-floppy-save
					| glyphicon-floppy-save
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-floppy-open
					| glyphicon-floppy-open
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-credit-card
					| glyphicon-credit-card
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-transfer
					| glyphicon-transfer
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-cutlery
					| glyphicon-cutlery
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-header
					| glyphicon-header
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-compressed
					| glyphicon-compressed
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-earphone
					| glyphicon-earphone
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-phone-alt
					| glyphicon-phone-alt
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-tower
					| glyphicon-tower
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-stats
					| glyphicon-stats
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-sd-video
					| glyphicon-sd-video
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-hd-video
					| glyphicon-hd-video
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-subtitles
					| glyphicon-subtitles
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-sound-stereo
					| glyphicon-sound-stereo
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-sound-dolby
					| glyphicon-sound-dolby
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-sound-5-1
					| glyphicon-sound-5-1
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-sound-6-1
					| glyphicon-sound-6-1
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-sound-7-1
					| glyphicon-sound-7-1
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-copyright-mark
					| glyphicon-copyright-mark
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-registration-mark
					| glyphicon-registration-mark
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-cloud-download
					| glyphicon-cloud-download
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-cloud-upload
					| glyphicon-cloud-upload
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-tree-conifer
					| glyphicon-tree-conifer
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-tree-deciduous
					| glyphicon-tree-deciduous
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-cd
					| glyphicon-cd
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-save-file
					| glyphicon-save-file
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-open-file
					| glyphicon-open-file
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-level-up
					| glyphicon-level-up
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-copy
					| glyphicon-copy
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-paste
					| glyphicon-paste
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-alert
					| glyphicon-alert
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-equalizer
					| glyphicon-equalizer
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-king
					| glyphicon-king
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-queen
					| glyphicon-queen
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-pawn
					| glyphicon-pawn
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-bishop
					| glyphicon-bishop
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-knight
					| glyphicon-knight
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-baby-formula
					| glyphicon-baby-formula
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-tent
					| glyphicon-tent
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-blackboard
					| glyphicon-blackboard
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-bed
					| glyphicon-bed
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-apple
					| glyphicon-apple
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-erase
					| glyphicon-erase
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-hourglass
					| glyphicon-hourglass
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-lamp
					| glyphicon-lamp
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-duplicate
					| glyphicon-duplicate
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-piggy-bank
					| glyphicon-piggy-bank
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-scissors
					| glyphicon-scissors
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-bitcoin
					| glyphicon-bitcoin
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-btc
					| glyphicon-btc
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-xbt
					| glyphicon-xbt
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-yen
					| glyphicon-yen
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-jpy
					| glyphicon-jpy
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-ruble
					| glyphicon-ruble
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-rub
					| glyphicon-rub
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-scale
					| glyphicon-scale
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-ice-lolly
					| glyphicon-ice-lolly
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-ice-lolly-tasted
					| glyphicon-ice-lolly-tasted
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-education
					| glyphicon-education
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-option-horizontal
					| glyphicon-option-horizontal
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-option-vertical
					| glyphicon-option-vertical
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-menu-hamburger
					| glyphicon-menu-hamburger
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-modal-window
					| glyphicon-modal-window
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-oil
					| glyphicon-oil
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-grain
					| glyphicon-grain
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-sunglasses
					| glyphicon-sunglasses
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-text-size
					| glyphicon-text-size
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-text-color
					| glyphicon-text-color
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-text-background
					| glyphicon-text-background
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-object-align-top
					| glyphicon-object-align-top
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-object-align-bottom
					| glyphicon-object-align-bottom
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-object-align-horizontal
					| glyphicon-object-align-horizontal
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-object-align-left
					| glyphicon-object-align-left
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-object-align-vertical
					| glyphicon-object-align-vertical
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-object-align-right
					| glyphicon-object-align-right
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-triangle-right
					| glyphicon-triangle-right
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-triangle-left
					| glyphicon-triangle-left
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-triangle-bottom
					| glyphicon-triangle-bottom
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-triangle-top
					| glyphicon-triangle-top
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-console
					| glyphicon-console
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-superscript
					| glyphicon-superscript
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-subscript
					| glyphicon-subscript
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-menu-left
					| glyphicon-menu-left
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-menu-right
					| glyphicon-menu-right
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-menu-down
					| glyphicon-menu-down
				.cell-sm-4.cell-md-3.fa-hover
					i.glyphicon.glyphicon-menu-up
					| glyphicon-menu-up