-
	var
	brandName = 'Brittany Pierce',
	logoDefault = 'logo-default-242x44',
	postLink = 'blog-post.html',
	menu = [
	{
	title: 'Home',
	link: 'index.html'
	},
	{
	title: 'About Me',
	link: 'about-me.html'
	},
	{
	title: 'Services',
	link: '#',
	dropdown: [
	{
	title: 'Services',
	link: 'services.html'
	},
	{
	title: 'Single Service',
	link: 'portraits.html'
	}
	]
	},
	{
	title: 'Gallery',
	link: '#',
	urlLinks: true,
	dropdown: [
	{
	title: 'Grid Gallery',
	link: 'grid-gallery.html'
	},
	{
	title: 'Masonry Gallery',
	link: 'masonry-gallery.html'
	},
	{
	title: 'Full-Width Grid Gallery',
	link: 'full-grid-gallery.html'
	}
	]
	},
	{
	title: 'Contacts',
	link: 'contacts.html'
	},
	{
	title: 'Pages',
	link: '#',
	megamenu: [
	[
	{
	title: 'Pages 1',
	list: [
	{
	title: 'Team',
	link: 'team.html'
	},
	{
	title: 'Team MP',
	link: 'team-mp.html'
	},
	{
	title: 'Testimonials',
	link: 'testimonials.html'
	},
	{
	title: '404 Page',
	link: '404-page.html'
	},
	{
	title: '503 Page',
	link: '503-page.html'
	},
	{
	title: 'Maintenance',
	link: 'maintenance.html'
	},
	{
	title: 'FAQ',
	link: 'faq.html'
	}
	]
	}
	],
	[
	{
	title: 'Pages 2',
	list: [
	{
	title: 'Privacy policy',
	link: 'privacy-policy.html'
	},
	{
	title: 'Site map',
	link: 'site-map.html'
	},
	{
	title: 'Search Results',
	link: 'search-results.html'
	},
	{
	title: 'Careers',
	link: 'careers.html'
	},
	{
	title: 'Specials',
	link: 'specials.html'
	},
	{
	title: 'Blog',
	link: 'blog.html'
	},
	{
	title: 'Blog Post',
	link: 'blog-post.html'
	}
	]
	}
	],
	[
	{
	title: 'Elements',
	list: [
	{
	title: 'Buttons',
	link: 'buttons.html'
	},
	{
	title: 'Grid',
	link: 'grid.html'
	},
	{
	title: 'Forms',
	link: 'forms.html'
	},
	{
	title: 'Progress bars',
	link: 'progress-bars.html'
	},
	{
	title: 'Tabs and accordions',
	link: 'tabs-and-accordions.html'
	},
	{
	title: 'Tables',
	link: 'tables.html'
	},
	{
	title: 'Typography',
	link: 'typography.html'
	},
	{
	title: 'Icons',
	link: 'icons.html'
	}
	]
	}
	]
	]
	}
	],

	config = {
	getTemplateLink: '#get-template-link',
	includeLayoutPanel: false
	}